.breadcrumb_navigation {
    width: 1920px;
    height: 28px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 160px;
}

.breadcrumb_navigation .layui-breadcrumb a{
    font-size: 12px;
}