.breadcrumb_navigation {
    width: 100vw;
    height: 1.46vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 8.33vw;
}

.breadcrumb_navigation .layui-breadcrumb a{
    font-size: 0.06rem;
}