.nav {
    width: 100vw;
    height: 3.65vw;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 6.25vw;
    display: flex;
    align-items: center;
    position: relative;
}

.nav .ban {
    display: flex;
    margin-left: 4.479vw;
}

.nav .ban div {
    text-align: center;
    width: 5.83vw;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.6);
}

.nav .ban div:hover {
    color: #000000;
    cursor: pointer;
}

.nav .ban .active {
    color: #000000;
    font-weight: 600;
}

.nav .logo {
    width: 7.23vw;
    height: 2.08vw;
}

.nav .logo:hover {
    cursor: pointer;
}

.nav .search {
    position: absolute;
    right: 3.7vw;

}

.nav .search .search_button {
    display: flex;
    align-items: center;
    color: #111111;
    font-family: "SourceHanSansCN-Light";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
}

.nav .search .search_button img {
    margin-right: 6px;
    width: 0.78vw;
    height: 0.78vw;
}

.nav .search .search_button:hover {
    cursor: pointer;
}


.nav .search .search_input {
    overflow: hidden;
    width: 12.86vw;
    height: 1.77vw;
    border-radius: 4px;
    border: solid 1px #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .search .search_input img {
    opacity: 1;
    width: 0.78vw;
    height: 0.78vw;
    margin-left: 0.572vw;
}

.nav .search .search_input input {
    height: 100%;
    width: 11.04vw;
    background-color: #fffefe;
    color: #111111;
    border: none;
}


.nav .tab_control {
    position: absolute;
    top: 3.64vw;
    left: 0;
    width: 100vw;
    height: 17.4vw;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding-top: 1.67vw;
}

.nav .tab_control .content {
    margin-left: 20vw;
    width: 46.875vw;
    height: 10.83vw;
    display: flex;
    justify-content: space-between;
}

.nav .tab_control .content .list {
    width: 9.375vw;
}

.nav .tab_control .content .list p {
    height: 1.51vw;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #777777;
    margin-bottom: 0.83vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav .tab_control .content .list .list_son a {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.05rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #414141;
}

.nav .tab_control .content .list .list_son #list_son_active{
    color: #397fff;
}

.nav .tab_control .content .list .list_son img {
    margin-left: 0.26vw;
    width: 0.73vw;
    height: 0.625vw;
}

.nav .tab_control .content .list .list_son {
    margin-bottom: 0.83vw;
}

.nav .tab_control .content .list .list_son:last-child {
    margin-bottom: 0;
}