.introduce {
    padding-left: 8.3vw;
    padding-right: 8.3vw;
    padding-top: 3.3vw;
    margin-bottom: 4.5vw;
    display: flex;
}

.introduce .left {
    margin-right: 4.6vw;
}

.introduce .name {
    font-family: "MicrosoftYaHei";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 2.44vw;
}

.introduce_content {
    width: 44.9vw;
}

.introduce_content pre {
    font-family: "MicrosoftYaHei";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5625vw;
    letter-spacing: 0px;
    color: #666666;
    text-indent: 0.12rem;
    text-align: justify;
    margin-bottom: 1.5625vw;
}

.enterprise_advantage {
    width: 100vw;
    height: 33vw;
    position: relative;
}

.enterprise_advantage .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 33vw;
}

.enterprise_advantage .title {
    padding-top: 3.3vw;
    padding-bottom: 2.44vw;
    text-align: center;
    font-family: "MicrosoftYaHei";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
}

.enterprise_advantage .box {
    width: 83.3vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.enterprise_advantage .box .list {
    width: 19.3vw;
    height: 22.4vw;
    background-color: rgba(255, 255, 255, 0.007);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(0deg,
            #3e4aee 0%,
            #4ac9f8 100%);
    border-image-slice: 1;
    text-align: center;
    padding-top: 2.8vw;
}

.enterprise_advantage .box .list .list_title {
    font-family: "SourceHanSansCN-Bold";
    font-size: 0.09rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    color: #ffffff;
    margin-top: 2vw;
    margin-bottom: 2.4vw;
}

.enterprise_advantage .box .list span {
    margin: 0 auto;
    text-align: left;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5625vw;
    letter-spacing: 0px;
    color: #ffffff;
    display: block;
    width: 15.4vw;
}

.site {
    width: 100vw;
    padding-left: 8.3vw;
    padding-top: 3.3vw;
    padding-bottom: 6.7vw;
    display: flex;
}

.site .right {
    margin-top: 1.6vw;
    margin-left: 5.2vw;
}

.site .name {
    font-family: "SourceHanSansCN-Bold";
    font-size: 0.09rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.7vw;
    letter-spacing: 1px;
    color: #111111;
    margin-bottom: 1.35vw;
}

.site .contact_way {
    font-family: "SourceHanSansCN-Bold";
    font-size: 0.09rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.7vw;
    letter-spacing: 1px;
    color: #1c68be;
    margin-bottom: 1.6vw;
}

.site .site_detail_URL {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.7vw;
    letter-spacing: 1px;
    color: #111111;
}