.typical_scenario {
    width: 100vw;
    margin-bottom: 4.3vw;
}

.typical_scenario .title {
    text-align: center;
    padding-top: 3.3vw;
    padding-bottom: 2.44vw;
    font-family: "SourceHanSansCN-Light";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #000000;
}

.typical_scenario .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 83vw;
    margin: 0 auto;
    
}

.typical_scenario .box .list {
    position: relative;
    width: 26.25vw;
    height: 15.625vw;
    margin-bottom: 2.34vw;
}

.typical_scenario .box .list:hover{
    cursor: pointer;
}

.typical_scenario .box .list img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 26.25vw;
    height: 15.625vw;
}

.typical_scenario .box .list .list_content{
    position: absolute;
    top: 9.8vw;
    width: 100%;
    padding-left: 1.25vw;
    padding-right: 1.9vw;
}

.typical_scenario .box .list .list_content .list_title{
    font-family: "MicrosoftYaHei-Bold";
	font-size: 0.08rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	color: #ffffff;
	box-shadow: 0px 2px 4px 0px 
        rgba(0, 0, 0, 0.5);
        margin-bottom: 1.25vw;
}

.typical_scenario .box .list .list_content span{
    font-family: "MicrosoftYaHei";
	font-size: 0.05rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.25vw;
	letter-spacing: 0px;
	color: #ffffff;
}