.banner {
    width: 100vw;
    height: 25vw;
}

.system_hardware {
    width: 100vw;
    padding-bottom: 3.33vw;
}

.system_hardware>.title {
    margin: 0 auto;
    width: 62vw;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #111111;
    text-align: center;
    padding-top: 3.2vw;
    padding-bottom: 3.33vw;
}

.system_hardware_content {
    width: 62vw;
    height: 22.39vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.system_hardware_content .lists {
    padding-top: 2.2vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.system_hardware_content .img_ {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.system_hardware_content .img_ img {
    width: 17.76vw;
    height: 20.31vw;
}

.system_hardware_content .system_hardware_content_title {
    text-align: center;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    color: #111111;
    ;
}

.system_hardware_content li {
    background: url(../images/communication_conversion_module/item_03.png) no-repeat scroll 0 0.58vw;
    padding-left: 1.51vw;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 2vw;
    letter-spacing: 2px;
    color: #888888;
}

.systems_software {
    background-color: #f5f5f5;
    width: 100vw;
    padding-top: 3.2vw;
    padding-bottom: 3.33vw;
    padding-left: 23.125vw;
    padding-right: 25.36vw;
    text-align: center;

}

.systems_software .title {
    text-align: center;
    width: 100%;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #111111;
}

.systems_software .interface {
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
}

.systems_software .lists {
    display: flex;
    justify-content: space-between;
}

.systems_software .lists .list_content {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.875vw;
    letter-spacing: 2px;
    color: #111111;
    margin-top: 1.8vw;
}

.product_overview {
    width: 100vw;
}

.product_overview .title {
    text-align: center;
    padding-top: 3.2vw;
    padding-bottom: 2.4vw;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #111111;
}

.product_overview .content {
    width: 82.6vw;
    margin: 0 auto;
}

.product_overview .content pre {
    text-indent: 0.12rem;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.56vw;
    letter-spacing: 0px;
    color: #777777;
}

.product_overview .bottom {
    width: 75vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.product_overview .bottom .son {
    width: 55.45vw;
    text-align: center;
    padding-top: 2vw;
    height: 18.8vw;
    display: flex;
    justify-content: space-between;
}

.technical_advantage {
    position: relative;
    width: 100vw;
    height: 35.4vw;
    margin-top: 5.2vw;
}


.technical_advantage .back {
    position: absolute;
    width: 100vw;
    height: 35.4vw;
    z-index: -1;
    top: 0;
    left: 0;
}


.technical_advantage .title {
    padding-top: 3.3vw;
    padding-bottom: 2.9vw;
    text-align: center;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #ffffff;
}

.technical_advantage .box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 72.65vw;
}

.technical_advantage .box .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.8vw;
}

.technical_advantage .box .list img{
    width: 4.48vw;
	height: 5.21vw;
}

.technical_advantage .box .list .list_title {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.875vw;
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    margin-top: 1.8vw;
}

.technical_advantage .bottom {
    margin-top: 3.3vw;
}

.specification_parameter {
    padding-top: 3.2vw;
    padding-bottom: 3.4vw;
    width: 100vw;
}

.specification_parameter .title {
    font-family: "MicrosoftYaHei";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #000000;
    text-align: center;
    padding-bottom: 2.5vw;
}
