html {
    width: 100vw;
    background-color: #f5f5f5;
}



.nav {
    width: 100vw;
    height: 4vw;
    background-color: rgba(27, 27, 27, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 6vw;
    position: relative;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
}

.nav .ban {
    display: flex;
    margin-left: 4.45vw;
}

.nav .ban div {
    text-align: center;
    width: 8vw;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.6);
}

.nav .ban div:hover {
    color: #ffffff;
    cursor: pointer;
}

.nav .ban .active {
    color: #ffffff;
}

.nav .logo {
    width: 7.2vw;
    height: 2.1vw;
}

.nav .logo:hover {
    cursor: pointer;
}

.nav .tab_control {
    position: absolute;
    top: 4vw;
    left: 0;
    width: 100vw;
    height: 13.6vw;
    background-color: rgba(23, 32, 53, 0.91);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    padding-top: 1.3vw;
}

.nav .tab_control .content {
    margin-left: 15.6vw;
    width: 47vw;
    height: 11vw;
    display: flex;
    justify-content: space-between;
}

.nav .tab_control .content .list {
    width: 9.3vw;
}

.nav .tab_control .content .list p {
    height: 1.5vw;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: 0.56vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav .tab_control .content .list .list_son a {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.05rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
}

.nav .tab_control .content .list .list_son img {
    margin-left: 0.3vw;
    width: 0.5vw;
    height: 0.4vw;
}

.nav .tab_control .content .list .list_son {
    margin-bottom: 0.8vw;
}

.nav .tab_control .content .list .list_son:last-child {
    margin-bottom: 0;
}



/* 1111111 */

.carousel {
    position: absolute;
    top: 0;
    height: 47vw;
}



.carousel_son img {
    position: absolute;
    top: 0;
    height: 46.88vw;
    width: 100vw;
}

.carousel_son div {
    position: absolute;
    z-index: 2;
    top: 30.5vw;
    left: 51.56vw;
    width: 4.9vw;
    height: 2.08vw;
    color: rgb(255, 255, 255);
}

.carousel_son div:hover {
    cursor: pointer;
}

/* 产品中心 */
.product_center {
    width: 100vw;
    margin-top: 47vw;
    background-color: #f5f5f5;
}

.product_center .title {
    text-align: center;
    font-family: "SourceHanSansCN-Light";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #000000;
    width: 100%;
    margin-bottom: 2.5vw;
}

.product_center .content {
    display: flex;
    justify-content: space-between;
    padding-left: 8vw;
    padding-right: 8vw;
    background-color: #f5f5f5;
}

.product_center .content>div {
    background-color: #f5f5f5;
    width: 40.63vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product_center .box {
    background-color: #ffffff;
}

.product_center .box:hover {
    cursor: pointer;
}

.product_center .box img {
    width: 100%;
}

.product_center .txt {
    padding: 1.61vw 2.08vw 0px 1.61vw;
}

.product_center .left .box:nth-child(2),
.product_center .left .box:nth-child(3),
.product_center .right .box:nth-child(3) {
    margin-top: 2.08vw;
}

.product_center .left .box:nth-child(1),
.product_center .right .box:nth-child(3) {
    width: 40.63vw;
}

.product_center .left .box:nth-child(1) img,
.product_center .right .box:nth-child(3) img {
    width: 40.63vw;
    height: 18.75vw;
}

.product_center .left .box:nth-child(1) .txt,
.product_center .right .box:nth-child(3) .txt {
    height: 7.6vw;
    width: 100%;
}

.product_center .left .box:nth-child(2),
.product_center .right .box:nth-child(2),
.product_center .right .box:nth-child(1),
.product_center .left .box:nth-child(3) {
    width: 19.27vw;
}

.product_center .left .box:nth-child(2) img,
.product_center .right .box:nth-child(2) img,
.product_center .right .box:nth-child(1) img,
.product_center .left .box:nth-child(3) img {
    width: 19.27vw;
    height: 13.54vw;
}

.product_center .left .box:nth-child(2) .txt,
.product_center .right .box:nth-child(2) .txt,
.product_center .right .box:nth-child(1) .txt,
.product_center .left .box:nth-child(3) .txt {
    height: 7.71vw;
    width: 100%;
}

.product_center .title_son {
    font-family: "SourceHanSansCN-Light";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 0.6vw;
}

.product_center .txt pre {
    font-family: "SourceHanSansCN-Light";
    font-size: 0.05rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0px;
    color: #a0a0a0;
    height: 2.19vw;
}

/* 平台展示 */
.platform_show {
    position: relative;
    margin-top: 4vw;
    width: 100vw;
    height: 47.08vw;
}

.platform_show .platform_show_back {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 47.08vw;
}

.platform_show>.title {
    text-align: center;
    font-family: "SourceHanSansCN-Light";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #ffffff;
    padding-top: 3.3vw;
    margin-bottom: 2.5vw;
}

.platform_show>.content {
    padding-left: 8vw;
    padding-right: 8vw;
    display: flex;
    justify-content: space-between;
}

.platform_show>.content .box {
    position: relative;
    width: 26.25vw;
    height: 13.54vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border: 3px solid #4487f3;
    border-radius: 6px;
    overflow: hidden;
    background-color: #3469ff;
}

.platform_show>.content .box:hover {
    cursor: pointer;
}

.platform_show>.content .box>img {
    border-radius: 6px;
    width: 26.25vw;
    height: 13.54vw;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}


.platform_show>.content .box>.platform_show_box_son {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-family: "SourceHanSansCN-Light";
    font-size: 0.09rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #ffffff;
    width: 26.25vw;
    height: 13.54vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3469ff;
}

.platform_show>.content .box>.platform_show_box_son>div {
    margin-top: 1vw;
}

#platform_show_active {
    width: 26.25vw;
    height: 13.54vw;
    background-color: rgba(52, 106, 255, 0);
}

.platform_show .show_ {
    width: 79.2vw;
    height: 18.3vw;
    margin: 0 auto;
    margin-top: 4.7vw;
    display: flex;
    justify-content: space-between;
}


.platform_show .show_ .title {
    margin-top: 0.8vw;
    font-family: "SourceHanSansCN-Light";
    font-size: 1.3vw;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #ffffff;
}

.platform_show .show_ .content {
    width: 47.55vw;
    height: 5.52vw;
    font-family: "SourceHanSansCN-Light";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.56vw;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.8;
    margin-top: 2.66vw;
}

.platform_show .show_ .button_ {
    margin-top: 4vw;
}

.platform_show .show_ .button_ a {
    display: inline-block;
    width: 4.9vw;
    height: 2.08vw;
    line-height: 2.08vw;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.302);
    border-radius: 3px;
    border: solid 1px #ffffff;
    color: #ffffff;
}

.platform_show .show_ .screen {
    position: relative;
    width: 20.625vw;
    height: 19.28vw;
}

.platform_show .show_ .screen img {
    position: absolute;
    z-index: -1;
    width: 20.625vw;
    height: 19.28vw;
}

.platform_show .show_ .screen .containers {
    position: absolute;
    z-index: 1;
    width: 19vw;
    height: 11.46vw;
    left: 4%;
    top: 4%;
    color: #ffffff;
}

.platform_show .show_ .screen .containers img {
    width: 100%;
    height: 100%;
}

/* 应用场景 */
.application_scenarios {
    width: 100vw;
    padding-bottom: 6.67vw;
}

.application_scenarios>.title {
    text-align: center;
    font-family: "SourceHanSansCN-Light";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #000000;
    margin-top: 3.28vw;
    margin-bottom: 1px;
}

.application_scenarios>.content {
    padding-left: 8vw;
    padding-right: 8vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.application_scenarios>.content .box {
    width: 26.25vw;
    height: 21.5vw;
    background-color: #ffffff;
    border-radius: 6px;
    margin-top: 2.45vw;
    overflow: hidden;
}

.application_scenarios>.content .box:hover {
    cursor: pointer;
}

.application_scenarios>.content .box img {
    width: 26.25vw;
    height: 14.58vw;
}

.application_scenarios>.content .box p {
    height: 3.12;
    line-height: 3.12vw;
    padding-left: 1.09vw;
    font-family: "SourceHanSansCN-Light";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #333333;
}

.application_scenarios>.content .box pre{
    font-family: "MicrosoftYaHei";
    margin-left: 1.09vw;
	font-size: 0.05rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.25vw;
	letter-spacing: 0px;
	color: #6e6c6c;
}