html {
    width: 1920px;
    background-color: #f5f5f5;
}

.nav {
    width: 1920px;
    height: 70px;
    background-color: rgba(27, 27, 27, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 120px;
    position: relative;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
}

.nav .ban {
    display: flex;
    margin-left: 86px;
}

.nav .ban div {
    text-align: center;
    width: 112px;
    font-family: "SourceHanSansCN-Regular";
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.6);
}

.nav .ban div:hover {
    color: #ffffff;
    cursor: pointer;
}

.nav .ban .active {
    color: #ffffff;
}

.nav .logo {
    width: 139px;
    height: 40px;
}

.nav .logo:hover {
    cursor: pointer;
}

.nav .search {
    position: absolute;
    right: 71px;

}

.nav .search .search_button {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: "SourceHanSansCN-Light";
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.6;
}

.nav .search .search_button img {
    margin-right: 6px;
    width: 15px;
    height: 15px;
    opacity: 0.6;
}

.nav .search .search_button:hover {
    cursor: pointer;
}


.nav .search .search_input {
    overflow: hidden;
    width: 247px;
    height: 34px;
    border-radius: 4px;
    border: solid 1px #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .search .search_input img {
    opacity: 1;
    width: 15px;
    height: 15px;
    margin-left: 11px;
}

.nav .search .search_input input {
    height: 100%;
    width: 212px;
    background-color: #00000000;
    color: #ffffff;
    border: none;
}


.nav .tab_control {
    position: absolute;
    top: 70px;
    left: 0;
    width: 1920px;
    height: 334px;
    background-color: rgba(23, 32, 53, 0.91);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    padding-top: 32px;
}

.nav .tab_control .content {
    margin-left: 385px;
    width: 900px;
    height: 208px;
    display: flex;
    justify-content: space-between;
}

.nav .tab_control .content .list {
    width: 180px;
}

.nav .tab_control .content .list p {
    height: 29px;
    font-family: "SourceHanSansCN-Regular";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav .tab_control .content .list .list_son a {
    font-family: "SourceHanSansCN-Regular";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
}

.nav .tab_control .content .list .list_son img {
    margin-left: 5px;
    width: 14px;
    height: 12px;
}

.nav .tab_control .content .list .list_son {
    margin-bottom: 16px;
}

.nav .tab_control .content .list .list_son:last-child {
    margin-bottom: 0;
}



/* 1111111 */

.carousel {
    position: absolute;
    top: 0;
    height: 900px;
}



.carousel_son img {
    position: absolute;
    top: 0;
}

.carousel_son div {
    position: absolute;
    z-index: 2;
    top: 584px;
    left: 990px;
    width: 94px;
    height: 40px;
    color: rgba(255, 255, 255, 0);
}

.carousel_son div:hover {
    cursor: pointer;
}

/* 产品中心 */
.product_center {
    width: 100%;
    margin-top: 900px;
    background-color: #f5f5f5;
}

.product_center .title {
    text-align: center;
    font-family: "SourceHanSansCN-Light";
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #000000;
    width: 100%;
    margin-bottom: 48px;
}

.product_center .content {
    display: flex;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;
    background-color: #f5f5f5;
}

.product_center .content>div {
    background-color: #f5f5f5;
    width: 780px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product_center .box {
    background-color: #ffffff;
}

.product_center .box:hover {
    cursor: pointer;
}

.product_center .box img {
    width: 100%;
}

.product_center .txt {
    padding: 31px 40px 0px 24px;
}

.product_center .left .box:nth-child(2),
.product_center .left .box:nth-child(3),
.product_center .right .box:nth-child(3) {
    margin-top: 40px;
}

.product_center .left .box:nth-child(1),
.product_center .right .box:nth-child(3) {
    width: 780px;
}

.product_center .left .box:nth-child(1) img,
.product_center .right .box:nth-child(3) img {
    width: 780px;
    height: 360px;
}

.product_center .left .box:nth-child(1) .txt,
.product_center .right .box:nth-child(3) .txt {
    height: 146px;
    width: 100%;
}

.product_center .left .box:nth-child(2),
.product_center .right .box:nth-child(2),
.product_center .right .box:nth-child(1),
.product_center .left .box:nth-child(3) {
    width: 370px;
}

.product_center .left .box:nth-child(2) img,
.product_center .right .box:nth-child(2) img,
.product_center .right .box:nth-child(1) img,
.product_center .left .box:nth-child(3) img {
    width: 370px;
    height: 260px;
}

.product_center .left .box:nth-child(2) .txt,
.product_center .right .box:nth-child(2) .txt,
.product_center .right .box:nth-child(1) .txt,
.product_center .left .box:nth-child(3) .txt {
    height: 148px;
    width: 100%;
}

.product_center .title_son {
    font-family: "SourceHanSansCN-Light";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 13px;
}

.product_center .txt pre {
    font-family: "SourceHanSansCN-Light";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 0px;
    color: #a0a0a0;
    height: 42px;
}

/* 平台展示 */
.platform_show {
    position: relative;
    margin-top: 70px;
    width: 1920px;
    height: 904px;
}

.platform_show .platform_show_back {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 1920px;
    height: 904px;
}

.platform_show>.title {
    text-align: center;
    font-family: "SourceHanSansCN-Light";
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #ffffff;
    padding-top: 63px;
    margin-bottom: 48px;
}

.platform_show>.content {
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: space-between;
}

.platform_show>.content .box {
    position: relative;
    width: 504px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border: 3px solid #4487f3;
    border-radius: 6px;
    overflow: hidden;
    background-color: #3469ff;
}

.platform_show>.content .box:hover {
    cursor: pointer;
}

.platform_show>.content .box>img {
    border-radius: 6px;
    width: 504px;
    height: 260px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}


.platform_show>.content .box>.platform_show_box_son {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-family: "SourceHanSansCN-Light";
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #ffffff;
    width: 504px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3469ff;
}

.platform_show>.content .box>.platform_show_box_son>div {
    margin-top: 20px;
}

#platform_show_active {
    width: 504px;
    height: 260px;
    background-color: rgba(52, 106, 255, 0);
}

.platform_show .show_ {
    width: 1520px;
    height: 351px;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}


.platform_show .show_ .title {
    margin-top: 15px;
    font-family: "SourceHanSansCN-Light";
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #ffffff;
}

.platform_show .show_ .content {
    width: 913px;
    height: 106px;
    font-family: "SourceHanSansCN-Light";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.8;
    margin-top: 51px;
}

.platform_show .show_ .button_ {
    margin-top: 70px;
}

.platform_show .show_ .button_ a {
    display: inline-block;
    width: 94px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.302);
    border-radius: 3px;
    border: solid 1px #ffffff;
    color: #ffffff;
}

.platform_show .show_ .screen {
    position: relative;
    width: 396px;
    height: 351px;
}

.platform_show .show_ .screen img {
    position: absolute;
    z-index: -1;
    width: 396px;
    height: 351px;
}

.platform_show .show_ .screen .containers {
    position: absolute;
    z-index: 1;
    width: 365px;
    height: 220px;
    left: 4%;
    top: 4%;
    color: #ffffff;
}

.platform_show .show_ .screen .containers img{
    width: 100%;
    height: 100%;
}

/* 应用场景 */
.application_scenarios {
    width: 100%;
    padding-bottom: 128px;
}

.application_scenarios>.title {
    text-align: center;
    font-family: "SourceHanSansCN-Light";
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #000000;
    margin-top: 63px;
    margin-bottom: 1px;
}

.application_scenarios>.content {
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.application_scenarios>.content .box {
    width: 504px;
    height: 340px;
    background-color: #ffffff;
    border-radius: 6px;
    margin-top: 47px;
    overflow: hidden;
}

.application_scenarios>.content .box:hover {
    cursor: pointer;
}

.application_scenarios>.content .box img {
    width: 504px;
    height: 280px;
}

.application_scenarios>.content .box p {
    height: 60px;
    line-height: 60px;
    padding-left: 21px;
    font-family: "SourceHanSansCN-Light";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #333333;
}