.banner {
    width: 100vw;
    height: 25vw;
}


.face_recognition_features {
    width: 100vw;
    height: 16.8vw;
    background-color: #ffffff;
}

.title {
    padding-top: 3.3vw;
    padding-bottom: 2.5vw;
    text-align: center;
    font-family: "MicrosoftYaHei";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #111111;
}

.icon_img {
    width: 4.47vw;
    height: 5.2vw;
}

.face_recognition_features_content {
    padding-left: 8.3vw;
    padding-right: 8.3vw;
    font-family: "MicrosoftYaHei";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5625vw;
    letter-spacing: 0px;
    color: #777777;

}

.face_recognition_features_content pre {
    text-indent: 0.12rem;
}

.technological_superiority {
    width: 100vw;
    height: 30vw;
    background-color: #f5f5f5;
}

.technological_superiority_box_icon {
    margin: 0 auto;
    width: 80.4vw;
    display: flex;
    justify-content: space-between;
}

.technological_superiority_box_icon .list {
    width: 15.88vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_title {
    text-align: center;
    margin-top: 1.8vw;
    margin-bottom: 1.2vw;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.875vw;
    letter-spacing: 2px;
    color: #111111;
}

.icon_content {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5625vw;
    letter-spacing: 0px;
    color: #111111;
    opacity: 0.6;
    width: 100%;
}

.technological_superiority_content {
    width: 83.2vw;
    font-family: "MicrosoftYaHei";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.875vw;
    letter-spacing: 0px;
    color: #111111;
    text-indent: 0.16rem;
    margin: 0 auto;
    margin-top: 2vw;
}

.guard_trait {
    width: 100vw;
    height: 34.6vw;
    background-color: #ffffff;
}

.guard_trait_top {
    width: 73.2vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.guard_trait_bottom {
    width: 47.4vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3.3vw;
}

.guard_trait .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.guard_trait .list .list_title {
    margin-top: 1.8vw;
}

.guard_trait .list .list_title,
.guard_trait .list .list_introductory {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.875vw;
    letter-spacing: 2px;
    color: #111111;
}



.visitor_characteristics {
    width: 100vw;
    height: 34.375vw;
    background-color: #f5f5f5;
}

.visitor_characteristics_top,
.visitor_characteristics_bottom {
    width: 69.6vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.visitor_characteristics_bottom {
    margin-top: 3.3vw;
}

.visitor_characteristics .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 17.5vw;
}

.visitor_characteristics .list .list_title {
    margin-top: 1.8vw;
}

.visitor_characteristics .list .list_title,
.visitor_characteristics .list .list_introductory {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.875vw;
    letter-spacing: 2px;
    color: #111111;
}