.basic_information {
    width: 100vw;
    height: 23.33vw;
    background-color: #ffffff;
    padding: 3.33vw 8.33vw 3.33vw 8.33vw;
    display: flex;
    justify-content: space-between;
}

.basic_information img {
    width: 31.2vw;
    height: 16.67vw;
    border-radius: 6px;
}

.basic_information .title {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.14rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 4px;
    color: #000000;
}

.basic_information .version {
    font-family: "SourceHanSansCN-Normal";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    color: #999999;
    margin-top: 0.42vw;
    margin-bottom: 1.56vw;
}

.basic_information .introductory {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.56vw;
    letter-spacing: 0px;
    color: #777777;
    width: 47.5vw;
}

.product_feature {
    width: 100vw;
    height: 47.47vw;
    position: relative;
}

.product_feature .back {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product_feature .title {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #ffffff;
    padding-top: 3.28vw;
    padding-bottom: 2.55vw;
    text-align: center;
}

.product_feature .box {
    display: flex;
    justify-content: space-between;
    width: 83.33vw;
    margin: 0 auto;
}

.product_feature .box .list {
    width: 19.27vw;
    height: 28.65vw;
    background-color: rgba(255, 255, 255, 0.871);
    box-shadow: 0px 0px 0.625vw 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 3.02vw 1.98vw 2.8125vw 1.927vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_feature .box .list .list_box {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.09rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    color: #111111;
    padding-top: 2.135vw;
    padding-bottom: 1.8vw;
    font-weight: 600;
    text-align: justify;
}

.product_feature .box .list .list_content {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.56vw;
    letter-spacing: 0px;
    color: #777777;
    width: 100%;
}

.specification_parameter {
    padding-top: 3.28vw;
    padding-bottom: 3.4375vw;
    width: 100vw;
}

.specification_parameter .title {
    font-family: "MicrosoftYaHei";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #000000;
    text-align: center;
    padding-bottom: 2.5vw;
}

.video_presentation {
    position: relative;
    width: 100vw;
    height: 47.14vw;
}

.video_presentation_back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.video_presentation .title {
    padding-top: 3.33vw;
    padding-bottom: 2.45vw;
    text-align: center;
    font-family: "MicrosoftYaHei";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #ffffff;
}

.embed {
    width: 62.5vw;
    height: 36.46vw;
    margin: 0 auto;
}

.embed video {
    width: 62.5vw;
    height: 36.46vw;
}

.embed embed {
    width: 100%;
    height: 100%;
}