.specification_parameter {
    padding-top: 63px;
    padding-bottom: 66px;
    width: 1920px;
}

.specification_parameter .title {
    font-family: "MicrosoftYaHei";
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #000000;
    text-align: center;
    padding-bottom: 48px;
}

.product_overview {
    width: 1920px;
}

.product_overview .title{
    text-align: center;
    padding-top: 63px;
    padding-bottom: 47px;
    font-family: "SourceHanSansCN-Regular";
	font-size: 30px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #111111;
}

.product_overview .content{
    width: 1586px;
    margin: 0 auto;
}

.product_overview .content pre{
    text-indent: 32px;
    font-family: "SourceHanSansCN-Regular";
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30px;
	letter-spacing: 0px;
	color: #777777;
}

.product_overview .bottom{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

 .product_overview .bottom .son{
    width: 700px;
    text-align: center;
    padding-top: 40px;
    height: 361px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product_overview .bottom .son .son_title{
    font-family: "SourceHanSansCN-Regular";
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	color: #111111;
}

.technical_advantage{
    width: 1920px;
    position: relative;
    width: 1920px;
    height: 680px;
    margin-top: 65px;
}


.technical_advantage .back{
    position: absolute;
    width: 1920px;
	height: 680px;
    z-index: -1;
    top: 0;
    left: 0;
}


.technical_advantage .title{
    padding-top: 64px;
    padding-bottom: 56px;
    text-align: center;
    font-family: "SourceHanSansCN-Regular";
	font-size: 30px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #ffffff;
}

.technical_advantage .box{
    display: flex;
    justify-content: space-between;
}

.technical_advantage .box .list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technical_advantage .box .list .list_title {
    font-family: "SourceHanSansCN-Regular";
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 36px;
	letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    margin-top: 35px;
}

.technical_advantage  .top{
    padding-left: 251px;
    padding-right: 263px;
}

.technical_advantage  .bottom{
    padding-left: 551px;
    padding-right: 459px;
    margin-top: 64px;
}

.application_scenarios{
    padding: 62px 160px 67px 160px;
    background-color: #f5f5f5;
    width: 1920px;
}

.application_scenarios .title{
    text-align: center;
    font-family: "SourceHanSansCN-Regular";
	font-size: 30px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #111111;
}

.application_scenarios .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.application_scenarios .list{
    margin-top: 62px;
    width: 740px;
} 

.application_scenarios .list img{
    width: 740px;
	height: 284px;
}

.application_scenarios .list .list_title{
    font-family: "SourceHanSansCN-Regular";
    margin-top: 23px;
    margin-bottom: 31px;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	color: #111111;
}

.application_scenarios .list  .list_content{
    font-family: "SourceHanSansCN-Regular";
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30px;
	letter-spacing: 0px;
    color: #777777;
    padding-right: 15px;
    padding-right: 6px;
    text-align: justify;
}