.basic_information {
    width: 100vw;
    height: 23.33vw;
    background-color: #ffffff;
    padding: 3.33vw 8.33vw 3.33vw 8.33vw;
    display: flex;
    justify-content: space-between;
}

.basic_information img {
    width: 26vw;
    height: 16.67vw;
    border-radius: 6px;
}

.basic_information .title {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.14rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 4px;
    color: #000000;
}

.basic_information .version {
    font-family: "SourceHanSansCN-Normal";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    color: #999999;
    margin-top: 0.42vw;
    margin-bottom: 1.5325vw;
}

.basic_information .introductory {
    width: 53vw;
}

.basic_information .introductory pre {
    text-indent: 0.06rem;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.46vw;
    letter-spacing: 0px;
    color: #777777;

}

.specification_parameter {
    padding-top: 3.3vw;
    padding-bottom: 3.4vw;
    width: 100vw;
}

.specification_parameter .title {
    font-family: "MicrosoftYaHei";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #000000;
    text-align: center;
    padding-bottom: 2.5vw;
}

.video_presentation {
    position: relative;
    width: 100vw;
    height: 47vw;
}

.video_presentation_back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.video_presentation .title {
    padding-top: 3.33vw;
    padding-bottom: 2.4vw;
    text-align: center;
    font-family: "MicrosoftYaHei";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #ffffff;
}

.embed {
    width: 62.5vw;
    height: 36.5vw;
    margin: 0 auto;
}

.embed embed {
    width: 100%;
    height: 100%;
}

.embed video {
    width: 62.5vw;
    height: 36.46vw;
}

.solve_problem {
    padding: 3.23vw 8.33vw 3.33vw 8.33vw;
    width: 100vw;
    background-color: #f5f5f5;
}

.solve_problem .title {
    padding-bottom: 3.33vw;
    text-align: center;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #111111;
}

.solve_problem .lists {
    display: flex;
    justify-content: space-between;
}


.solve_problem .lists .list {
    width: 22.34vw;
    height: 17.81vw;
    background-color: #ffffff;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    text-align: center;
}

.colourful {
    width: 100%;
    height: 0.42vw;
    background-image: linear-gradient(270deg,
            #00a8ff 0%,
            #41e9f5 100%);
}

.solve_problem .lists .list img {
    padding-top: 0.73vw;
}

.solve_problem_content {
    font-family: "SourceHanSansCN-Light";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.875vw;
    letter-spacing: 0px;
    color: #111111;
    padding-left: 2.4vw;
    padding-right: 2.39vw;
    padding-top: 2.96vw;
}

.technological_superiority {
    position: relative;
    width: 100vw;
    height: 43.125vw;
}

.technological_superiority .title {
    text-align: center;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #ffffff;
    padding-top: 3.33vw;
    padding-bottom: 2.917vw;
}

.technological_superiority .back {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 43.125vw;
}

.technological_superiority_content {
    padding-left: 11.67vw;
    padding-right: 11.67vw;
}

.technological_superiority_content .lists {
    display: flex;
    justify-content: space-between;

}

.technological_superiority_content .technological_superiority_list {
    width: 7.7vw;
    height: 8.02vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.technological_superiority_content .technological_superiority_list:hover {
    cursor: pointer;
}

.technological_superiority_content .lists .img_ {
    width: 4.48vw;
    height: 5.2vw;
}

.technological_superiority_content .lists .onhover {
    width: 6.5625vw;
    height: 7.55vw;
    position: absolute;
    z-index: 2;
    top: -1.145vw;
    filter: contrast(200%)
}

.technological_superiority_content .lists .list_title {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    color: #ffffff;
}

.technological_superiority_box {
    height: 11.77vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-family: "SourceHanSansCN-Light";
    font-size: 0.13rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
    padding-left: 3.385vw;
    padding-right: 3.385vw;
}