.product_overview {
    width: 1920px;
    margin-bottom: 57px;
}

.product_overview .title {
    text-align: center;
    padding-top: 63px;
    padding-bottom: 47px;
    font-family: "SourceHanSansCN-Regular";
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #111111;
}

.product_overview .content {
    width: 1586px;
    margin: 0 auto;
}

.product_overview .content pre {
    text-indent: 32px;
    font-family: "SourceHanSansCN-Regular";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #777777;
}

.product_overview .bottom {
    width: 1440px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.product_overview .bottom .son {
    width: 700px;
    text-align: center;
    padding-top: 40px;
}

.product_superiority{
    width: 1920px;
    height: 777px;
    position: relative;
}

.product_superiority .back{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 1920px;
    height: 777px;
}

.product_superiority .title{
    padding-top: 64px;
    text-align: center;
    font-family: "SourceHanSansCN-Regular";
	font-size: 30px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #ffffff;
}

.product_superiority .box{
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: space-between;
    padding-top: 49px;
}

.product_superiority .box .list{
    width: 370px;
	height: 478px;
	background-color: #ffffff;
	box-shadow: 0px 0px 12px 0px 
		rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 58px 38px 0 37px;
}

.product_superiority .box .list .list_title{
    margin-top: 41px;
    margin-bottom: 46px;
    font-family: "SourceHanSansCN-Regular";
	font-size: 22px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
}

.product_superiority .box .list .list_content{
    font-family: "SourceHanSansCN-Regular";
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30px;
	letter-spacing: 0px;
    color: #777777;
    text-align: justify;
    width: 100%;
    word-break:break-all;
}

.system_composition{
    width: 1920px;
    padding-bottom: 64px;
}

.system_composition .title{
    padding-top: 63px;
    text-align: center;
    font-family: "MicrosoftYaHei";
	font-size: 30px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #000000;
}

.system_composition .box{
    width: 1601px;
    margin: 0 auto;
}

.system_composition .box .list{
    margin-top: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.system_composition .box .list .right{
    width: 1076px;
}

.system_composition .box .list .right .list_title{
    font-family: "SourceHanSansCN-Regular";
	font-size: 22px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
    color: #111111;
}

.system_composition .box .list .right pre{
    font-family: "SourceHanSansCN-Regular";
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30px;
	letter-spacing: 0px;
    color: #777777;
    margin-top: 46px;
}


.application_scenarios {
    padding: 62px 0 62px 0;
    background-color: #f5f5f5;
    width: 1920px;
}

.application_scenarios .title {
    text-align: center;
    font-family: "SourceHanSansCN-Regular";
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #111111;
    padding-bottom: 43px;
}

.application_scenarios .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1618px;
    height: 262px;
    margin: 0 auto;
}

.application_scenarios .list {
    width: 200px;
}

.application_scenarios .list:hover{
    cursor: pointer;
}

.application_scenarios .list img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.application_scenarios .list .list_title{
    text-align: center;
    margin-top: 24px;
    font-family: "SourceHanSansCN-Regular";
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	color: #111111;
}