.product_overview {
    width: 100vw;
    margin-bottom: 3vw;
}

.product_overview .title {
    text-align: center;
    padding-top: 3.3vw;
    padding-bottom: 2.44vw;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #111111;
}

.product_overview .content {
    width: 82.6vw;
    margin: 0 auto;
}

.product_overview .content pre {
    text-indent: 0.12rem;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.56vw;
    letter-spacing: 0px;
    color: #777777;
}

.product_overview .bottom {
    width: 75vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.product_overview .bottom .son {
    width: 36.45vw;
    text-align: center;
    padding-top: 2vw;
}

.product_superiority{
    width: 100vw;
    height: 40.46vw;
    position: relative;
}

.product_superiority .back{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40.46vw;
}

.product_superiority .title{
    padding-top: 3.3vw;
    text-align: center;
    font-family: "SourceHanSansCN-Regular";
	font-size: 0.12rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #ffffff;
}

.product_superiority .box{
    padding-left: 8.3vw;
    padding-right: 8.3vw;
    display: flex;
    justify-content: space-between;
    padding-top: 2.55vw;
}

.product_superiority .box .list{
    width: 19.27vw;
	height: 24.9vw;
	background-color: #ffffff;
	box-shadow: 0px 0px 12px 0px 
		rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 2vw 0 1.9vw;
}

.product_superiority .box .list .list_title{
    margin-top: 2.1vw;
    margin-bottom: 2.3vw;
    font-family: "SourceHanSansCN-Regular";
	font-size: 0.09rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
}

.product_superiority .box .list .list_content{
    font-family: "SourceHanSansCN-Regular";
	font-size: 0.06rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.56vw;
	letter-spacing: 0px;
    color: #777777;            
    text-align: justify;
    width: 100%;
    word-break:break-all;
}

.system_composition{
    width: 100vw;
    padding-bottom: 3.3vw;
}

.system_composition .title{
    padding-top: 3.2vw;
    text-align: center;
    font-family: "MicrosoftYaHei";
	font-size: 0.12rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #000000;
}

.system_composition .box{
    width: 83.38vw;
    margin: 0 auto;
}

.system_composition .box .list{
    margin-top: 2.5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.system_composition .box .list img{
    width: 20.78vw;
    height: 12.5vw;
}

.system_composition .box .list .right{
    width: 56vw;
}

.system_composition .box .list .right .list_title{
    font-family: "SourceHanSansCN-Regular";
	font-size: 0.09rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
    color: #111111;
}

.system_composition .box .list .right pre{
    font-family: "SourceHanSansCN-Regular";
	font-size: 0.06rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.56vw;
	letter-spacing: 0px;
    color: #777777;
    margin-top: 2.4vw;
}


.application_scenarios {
    padding: 3.2vw 0 3.2vw 0;
    background-color: #f5f5f5;
    width: 100vw;
}

.application_scenarios .title {
    text-align: center;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #111111;
    padding-bottom: 2.2vw;
}

.application_scenarios .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 84.27vw;
    height: 13.64vw;
    margin: 0 auto;
}

.application_scenarios .list {
    width: 10.42vw;
}

.application_scenarios .list:hover{
    cursor: pointer;
}

.application_scenarios .list img {
    width: 10.42vw;
    height: 10.42vw;
    border-radius: 50%;
    overflow: hidden;
}

.application_scenarios .list .list_title{
    text-align: center;
    margin-top: 1.25vw;
    font-family: "SourceHanSansCN-Regular";
	font-size: 0.08rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	color: #111111;
}