.flow {
    width: 100vw;
    padding-bottom: 3.3vw;
}

.flow .title {
    padding-top: 3.3vw;
    padding-bottom: 77px;
    text-align: center;
    font-family: "MicrosoftYaHei";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #111111;
}

.flow .img_box {
    width: 72.91vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.flow .img_box .img_box_son {
    position: relative;
    width: 21vw;
    height: 18vw;
}

.flow .img_box .img_box_son .img_box_back {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 21vw;
    height: 18vw;
}

.flow .img_box .img_box_son .img_box_filler {
    position: absolute;
    z-index: 1;
    left: 4%;
    top: 4%;
    width: 19vw;
    height: 11.46vw;
}



.flow .flow_box {
    width: 72.91vw;
    margin: 0 auto;
    margin-top: 2.5vw;
    display: flex;
    justify-content: space-between;
    padding-left: 2.76vw;
    padding-right: 2.76vw;
}

.flow .flow_box .list {
    text-align: center;
}

.flow .flow_box .list img {
    width: 4.48vw;
    height: 5.21vw;
}

.flow .flow_box .TAG img {
    width: 6.15vw;
    height: 0.52vw;
}

.flow .flow_box .TAG {
    padding-top: 2.3vw;
}

.flow .flow_box .list_title {
    margin-top: 1.8vw;
    text-align: center;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.875vw;
    letter-spacing: 2px;
    color: #111111;
}


.advantages {
    position: relative;
    width: 100vw;
    height: 37.4vw;
}

.advantages .back {
    position: absolute;
    width: 100vw;
    height: 37.4vw;
    top: 0;
    left: 0;
    z-index: -1;
}

.advantages .title {
    text-align: center;
    padding-top: 3.125vw;
    font-family: "SourceHanSansCN-Regular";
    font-size: 1.6vw;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #ffffff;
    padding-bottom: 2.3vw;
}

.advantages .box {
    display: flex;
    justify-content: space-between;
}

.advantages .top {
    width: 68vw;
    margin: 0 auto;
    margin-bottom: 3vw;
}

.advantages .box .list img {
    width: 4.48vw;
    height: 5.21vw;
}

.advantages .bottom {
    width: 40vw;
    margin: 0 auto;
}

.advantages .list {
    width: 12vw;
    text-align: center;
}

.advantages .list img {
    width: 86px;
    height: 4.47vw;
}

.advantages .list .list_title {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    color: #ffffff;
    margin-top: 1.6vw;
    margin-bottom: 0.8vw;
}

.advantages .list span {
    display: block;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.6vw;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.6;
}

.product_overview {
    width: 100vw;
    padding-bottom: 3.8vw;
}

.product_overview .title {
    text-align: center;
    padding-top: 3.3vw;
    padding-bottom: 2.44vw;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #000000;
}

.product_overview pre {
    margin: 0 auto;
    width: 83.22vw;
    text-indent: 0.12rem;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5625vw;
    letter-spacing: 0px;
    color: #777777;
}