.summarize {
    width: 100vw;
}

.summarize .title {
    text-align: center;
    padding-top: 3.3vw;
    padding-bottom: 1vw;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #000000;
}

.summarize .introduction {
    width: 83vw;
    margin: 0 auto;
    text-indent: 0.12rem;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.6vw;
    letter-spacing: 0px;
    color: #777777;
}

.summarize .box {
    margin: 0 auto;
    margin-top: 3.3vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.3vw;
    width: 65.6vw;
}

.summarize .box img {
    width: 12vw;
    height: 25.2vw;
}

.composition {
    width: 100vw;
    background-color: #f5f5f5;
}

.composition .title{
    text-align: center;
    font-family: "MicrosoftYaHei";
	font-size: 0.12rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #000000;
    padding-top: 3.3vw;
    padding-bottom: 2.44vw;
}

.composition .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 83.3vw;
    margin: 0 auto;
}

.composition .list{
    margin-bottom: 62px;
    text-align: center;
    width: 26.25vw;
}

.composition .list img{
    width: 14.47vw;
	height: 12.7vw;
}

.composition .list .list_title{
    font-family: "SourceHanSansCN-Regular";
	font-size: 0.08rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
    color: #111111;
    margin-top: 1.3vw;
    margin-bottom: 0.78vw;
}

.composition .list span{
    display: block;
    font-family: "SourceHanSansCN-Regular";
	font-size: 0.06rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.6vw;
	letter-spacing: 0px;
	color: #777777;
}

.sketch{
    width: 100vw;
    margin-bottom: 3.3vw;
}

.sketch .title{
    text-align: center;
    padding-top: 3.3vw;
    padding-bottom: 2.44vw;
    font-family: "SourceHanSansCN-Regular";
	font-size: 0.12rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #000000;
}

.sketch .box{
    text-align: center;
}

.sketch .box img{
    width: 41vw;
	height: 18vw;
}