.product_overview {
    width: 100vw;
    padding-bottom: 3.8vw;
}

.product_overview .title {
    text-align: center;
    padding-top: 3.3vw;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #000000;
    padding-bottom: 2.44vw;
}

.product_overview pre {
    margin: 0 auto;
    width: 83.22vw;
    text-indent: 0.12rem;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5625vw;
    letter-spacing: 0px;
    color: #777777;
}

.technical_advantage {
    background-color: #f5f5f5;
    width: 100vw;
    padding-bottom: 2.6vw;
}

.technical_advantage .title {
    text-align: center;
    font-family: "MicrosoftYaHei";
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #000000;
    padding-top: 3.3vw;
    padding-bottom: 2.45vw;
}


.technical_advantage pre {
    width: 83.28vw;
    text-align: justify;
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5625vw;
    letter-spacing: 0px;
    color: #777777;
    text-indent: 0.12rem;
    margin: 0 auto;
}

.technical_advantage .video {
    position: relative;
    display: flex;
    justify-content: center;
    height: 24.47vw;
    width: 100vw;
}

.technical_advantage .video img {
    position: absolute;
    margin-top: 2.86vw;
    margin-bottom: 2.5vw;
    width: 20.625vw;
    height: 18.28vw;
}


.technical_advantage .box {
    width: 83.33vw;
    height: 21.4vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.technical_advantage .box .list {
    width: 19.79vw;
    height: 9.27vw;
    border-radius: 6px;
    display: flex;
    padding-top: 0.83vw;
    padding-left: 0.83vw;
    padding-right: 3.3vw;
}


.technical_advantage .box .list .left {
    width: 1.67vw;
    height: 1.67vw;
    line-height: 1.67vw;
    text-align: center;
    background-color: #2f6897;
    font-family: "SourceHanSansCN-Bold";
    font-size: 0.07rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5625vw;
    letter-spacing: 0px;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 0.88vw;
}

.technical_advantage .box .list .right {
    width: 13vw;
}

.technical_advantage .box .list .list_content {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.06rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5625vw;
    letter-spacing: 0px;
    color: #777777;
}

.technical_advantage .box .list .list_title {
    font-family: "SourceHanSansCN-Regular";
    font-size: 0.08rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    color: #111111;
    padding-bottom: 0.625vw;
}

.technical_advantage .box .list .list_content span {
    display: block;
}